@model IEnumerable<BaseSteam.Models.Usuario>

    <div class="text-end">
        <a asp-action="Create" class="btn btn-primary">Crear Usuario</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Desarrollador</th>
                <th>Rut</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Rut</td>
                <td>@item.Correo</td>
                <td>@item.Telefono</td>
                <td>@item.IdRolesNavigation.Nombre</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
