@model IEnumerable<BaseSteam.Models.Desarrollador>
<div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Pais</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Pais</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>


        }



    </tbody>
</table>
<a asp-action="create" class="btn btn-outline-primary">Crear Editor</a>