@model IEnumerable<BaseSteam.Models.Categorium>
<body class="">
<div class="text-end">
    <a asp-action="Create" class="btn btn-primary">Crear Categoria</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-warning"><i class="bi bi-pencil-square"> </i>Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>